
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #1E1E1E;
    --clr-darker: #171717;
    --clr-darkest: #101010;
    --clr-accent: #DF403D;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

*{
    box-sizing: border-box;
}

body{
    background: var(--clr-darkest);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 1em;
}


img{
    max-width: 400px;
}
.section__intro{
    display: grid;
    grid-template: fit-content 1fr 1fr 1fr/50% 50%;
    grid-template-areas: 
    "name name"
    "title title"
    "photo about"
    "photo about";
}
.intro__img{
    width: 180px;
    object-fit: cover;
    grid-area: photo;
}
.section__intro h1{
    font-size: var(--fs-h3);
    color: var(--clr-accent);
    grid-area: name;
}
.title{
    font-size: var(--fs-h1);
    margin: 0;
    font-weight: bold;
    color: var(--clr-light);
    grid-area: title;
}
.section__intro__about{
    grid-area:about;
    align-self: center;
}
.services{
    padding-top: 2em;
    background-color: var(--clr-darker);
}
.service{
    max-width: 80%;
    background:var(--clr-dark);
    margin: 0 auto;
}
.service__img{
    max-width: 30%;
}